{% extends "main.html" %}

{% block content %}
<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    {% if config.theme.language == "en" %}
      <h1>404 - Page Not Found</h1>

      <p>The requested page does not exist.</p>

      <p>It may have been moved. Please wait a few seconds - if there is a new address, you will be automatically redirected.</p>

      <p>If this does not happen, you can:</p>

      <ul>
        <li><a href="/docs/en/en/">Return to homepage</a></li>
        <li><a href="/docs/en/en/unofficial_docs/">Go to community documentation</a></li>
        <li>Use the search above</li>
      </ul>
    {% else %}
      <h1>404 - Страница не найдена</h1>

      <p>Запрашиваемая страница не существует.</p>

      <p>Возможно, она была перемещена. Подождите несколько секунд - если есть новый адрес, вы будете автоматически перенаправлены.</p>

      <p>Если этого не произошло, вы можете:</p>

      <ul>
        <li><a href="/docs/">Вернуться на главную страницу</a></li>
        <li><a href="/docs/unofficial_docs/">Перейти к документации сообщества</a></li>
        <li>Воспользоваться поиском выше</li>
      </ul>
    {% endif %}
  </article>
</div>
{% endblock %}
